body, html{
    font-family: 'Roboto', sans-serif !important;
}

.navbar{
    background-color:#313131 !important;
    height: 4.7em !important;
}

.navbar-item p{
    color: white;
    font-size: .8em;
    font-weight: bold;
}
.navbar-item p:hover{
    color:#F60756;
    cursor: pointer
}
.navbar-item .buttons .button{
    background-color: #F60756;
    color: white;
    border: none;
    padding: 1.7em !important; 
    font-size: .8em;
}

#nav_logo{
    width:100px; 
    height:160%;
}


/* COLUMNS */
.main_title{
    margin: 3%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

#columnas{
    width: 75%;
    margin: 0 auto;
    justify-content: center;
}

.column_context:nth-child(2){
    background-color: #313131;
    color: aliceblue;
}

.column_context{
    width:33%;
    border: 1px solid rgba(216, 213, 213, 0.774);
    height: 700px;
    margin: 10px;
    border-radius: 5px;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 1px 2px rgba(182, 182, 182, 0.685);
}


.column_icons, .column_title, .column_img{
    margin: 0 auto;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.column_img{
    justify-content: center;
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 5%;
}
.column_title{
    /* outline: 1px solid blue; */
    margin-left: 15px;
    align-items: center;
    font-size: 18px;
    
}

.column_title span:nth-child(2){
    font-weight: bolder;
    font-size: 20px;
    
}

.column_icons{
    /* outline: 1px solid blue; */
    display: inline-block;
    width: 60px;
    height: 60px;
}

.column_red{
    text-align: center;
    width: 100%;
    background-color:#F60756;
    padding: 18px;
    color: aliceblue;
}

.end{
    justify-content: end;
    background-color: #F60756;
    padding: 15px;
    text-align: center;
    color: #F7F7F7;
    border-radius: 5px;
    position: relative;
    bottom: -80px;
}

#tropper_end{
    position: relative;
    bottom: -122px;
}
#imperial_end{
    position: relative;
    bottom: -58px;
}

.column_price{
    font-size: 25px;
    font-weight: bolder;
}

.column_MXN{
    font-size: 15px;
    font-weight: bold;
}
.column_mes{
    font-size: 12px;
}

.column_allInfo{
    /* outline: 1px solid violet; */
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.column_info_tittle{
    margin-top: 5px;
    font-size: 14px;
    color: #666666;
}

.column_info_txt{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 15px;
}

.bottom{
    margin-top: 5px;
    margin-left: 13%;
    margin-bottom: 5%;
    /* outline: 1px solid palevioletred; */
    color: #31313175;
    font-size: 11px;
}


/* Projects */

#projects{
    width:100%;
    height: 100%;
    background-color:#F7F7F7;
}
.main_container{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.main_container h3{
    color:#F60756;
    font-size: 1.5em;
}
.container_columns {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}
.container_columns p{
    font-size: .8em;
}
.left, .right{
    width:30%
}
.right p{
    color: black;
    font-weight: bold;
}
.activa_proyectos{
    width:60%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.activa_proyectos h2{
    color:#090909;
    font-size: 1.5em;
    font-weight: bolder;
    text-align:center;
    margin-top: 2em;
}
.activa_proyectos h4{
    color:#F60756;
    font-size: 1.1em;
    font-weight: bold;
    margin-top:1em;
}
.activa_proyectos p{
    font-size:.8em;
    margin-top: .5em;
}
.activa_proyectos input{
    background-color: #F60756;
    color: white;
    padding: 1em;
    border:none;
    border-radius: .5em;
    margin-top: 1.8em;
    margin-bottom: 3em;
}
.activa_proyectos input:hover{
    cursor:pointer;
}
.fa-check-square{
    color: #F60756;
    margin-right: .8em;
}
ul li{
    font-size: .8em;
    margin: .4em;
}
.left ul{
    margin-top: 1.2em;
}
.left div:nth-child(1){
    display:flex
}
.activa_proyectos .column{
    display:flex;
    align-items: center;
}
.activa_proyectos .column img{
    width: 40%;
    height: 40%;
    margin-right: .3em;
}